# Ignore IntelliJ IDEA specific entries
out
.idea
*.iml

# Ignore Gradle specific entries
.gradle
gradle
gradlew
gradlew.bat
build

# JNI
java_practice/**/jni/**/*.h
java_practice/**/jni/**/*.o
java_practice/**/jni/**/*.class
java_practice/**/jni/**/*.so
